# -------------------
# React / Node
# -------------------
to_do_list/node_modules/   
to_do_list/build/             

# Env files
to_do_list/.env*        

# npm / yarn logs
npm-debug.log*
yarn-debug.log*

# -------------------
# PHP
# -------------------
toDoList_backend/vendor/    
toDoList_backend/.env*      
*.log                         

# -------------------
# System / IDE junk
# -------------------
.DS_Store                       # macOS system file
Thumbs.db                       # Windows system file
.idea/                          # PhpStorm / JetBrains IDE
.vscode/                        # VS Code
