:root{
    --smoke : rgb(244,242,238);
    --white: white;
    --light-blue: #3e92cc;
    --light-orange: rgb(251,244,242);
    --dark-blue: rgb(34, 56, 67);
    --blue: #5eade8;
    --orange_: rgb(224,122,95);
    --gray_: rgb(124,124,124);
}



.auth-cont{
    background-color: var(--smoke);
    height: 100vh;
}


.auth-form{
    width: 100%;
}
.auth-div{
    padding:30px;
    width: 400px;
    border: 1px solid var(--gray_);
    border-radius: 15px;
    background-color: white;
    position: relative;

}
.auth-form div{
    width: 100%;
}

.auth-form button{
    width: 100%;
}

.auth-a{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}


.auth-a a{
    color: var(--orange);
}



@media(max-width:576px){
    .auth-div{
        padding: 25px 20px;
        width: 100%;
    }
    .auth-div form{
        width: 100%;
    }

}