:root{
    --white : #eff1f3;
    --light-blue: #3e92cc;
    --dark-blue: rgb(34, 56, 67);
    --blue: #5eade8;
    --orange: rgb(224,122,95);
}




.auth-form{
    width: 100%;
}
.auth-div{
    padding:30px;
    width: 400px;
    border: 2px solid var(--white);
    border-radius: 15px;
}
.auth-form div{
    width: 100%;
}

.auth-a{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}


.auth-a a{
    color: var(--orange);
}



@media(max-width:576px){
    .auth-div{
        padding: 25px 20px;
        width: 100%;
    }
    .auth-div form{
        width: 100%;
    }

}