:root{
    --smoke : rgb(244,242,238);
    --white: white;
    --light-blue: #3e92cc;
    --light-orange: rgb(251,244,242);
    --dark-blue: rgb(34, 56, 67);
    --blue: #5eade8;
    --orange_: rgb(224,122,95);
    --gray_: rgb(124,124,124);
}



.categorie_box{
    width: 15.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.categorie_box h2{
    font-size: clamp(14px ,1vw ,22px);
}

.categorie_box .delete{
    cursor: pointer;
    font-size: 16px;
    color: var(--orange_);
}


@media(max-width:1200px){
    .categorie_box{
        width: 23.7%;

    }
}

@media(max-width:992px){
    .categorie_box{
        width: 31.5%;

    }
}


@media(max-width:768px){
    .categorie_box{
        width: 48%;

    }
}

@media(max-width:576px){
    .categorie_box{
        width: 100%;
    }
}