:root{
    --smoke : rgb(244,242,238);
    --white: white;
    --light-blue: #3e92cc;
    --light-orange: rgb(251,244,242);
    --dark-blue: rgb(34, 56, 67);
    --blue: #5eade8;
    --orange_: rgb(224,122,95);
    --gray_: rgb(124,124,124);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* background colors */

.bg-orange{
    background-color: var(--orange_);
}
.bg-light-orange{
    background-color: var(--light-orange);
}

.bg-smoke{
    background-color: var(--smoke);
}

.bg-white{
    background-color: var(--white);
}



/* text colors */

.text-gray{
    color: var(--gray_);
}

.text-orange{
    color: var(--orange_);
}
.text-light-orange{
    color: var(--light-orange);
}

.text-smoke{
    color: var(--smoke);
}

.text-white{
    color: var(--white);
}

.text-gray{
    color: var(--gray_);
}



/* font weight */


.boldest{
    font-weight: 700;
}


/* font size */

.text-4xl{
    font-size: 50px;
}



.dark{
    background-color: var(--dark-blue);
}
.navbar-cont-fl{
    position: relative;
}

.navbar-cont i{
    font-size: clamp(17px ,2vw ,28px);
    cursor: pointer;
    color: var(--light-blue);
}

.navbar-cont h2{
    font-size: clamp(17px ,2vw ,29px);
    pointer-events: none;
    color: var(--light-blue);
}

.sideBar{
    position: absolute;
    width: 400px;
    height: 100vh;
    background-color: var(--light-blue);
    top: 0;
    left: -650px;
    transition: .6s ease;
    z-index: 100;
}

.sideBarOpen{
    position: fixed;
    left: 0;
}

.sideBar .fa-close{
    font-size: clamp(17px ,2vw ,24px);
    cursor: pointer;
}

.sideBar h2, .sideBar i{
    font-size: clamp(19px ,2.5vw ,31px);
    color: var(--white);
}

.sideBar h2{
    padding-bottom: 30px;
    border-bottom: 3px solid var(--white);
}

a[href^="/signUp"],
a[href^="/profile"]{
    display: none;
}


li{
    list-style: none;
}

a,
.sideBar a
{
    text-decoration: none;
}


.sideBar ul{
    padding-left: 20px;
}
.navbar-cont-fl a{
    text-decoration: none;
}
.sideBar li, 
.sideBar a{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    color: var(--white);
    font-size: clamp(14px ,1.4vw ,18px);
}

.sideBar .active{
    color: var(--dark-blue);
}

.sideBar li i{
    font-size: clamp(14px ,1.4vw ,19px);
}

.sideBar li{
    padding: 8px 10px;
    transition: .4s ease;    
    border-bottom: 2px solid transparent;
}


.sideBar li:hover{
    border-color:var(--white);
}

label{
    font-size: 14px;
    color: var(--gray_);
    margin-bottom: 5px;
    font-weight: 500;
}

form input{
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--gray_);
    border-radius: 8px;
    padding:9px 14px;
    font-size: 14px;
    font-weight: 400;
}

input:focus{
    outline-color: var(--orange_);
    border-color: var(--orange_);
}

input::placeholder{
    color:var(--gray_);
    font-size: 14px;
}



button{
    border: none;
    padding: 9px 18px;
    background-color: var(--orange_);
    color: var(--white);
    width: 100%;
    border-radius: 8px;

}


.pass_input_div{
    position: relative;
}


/* .red_btn{
    background-color: var(--orange);
} */

.pass_input_div i{
    position: absolute;
    right: 15px;
    color: var(--gray_);
    top: 30%;
    cursor: pointer;
}

.pass_input_div input[type="password"]::-ms-reveal{
    display: none;
}


@media(max-width:768px){
    .sideBar{
        
        width: 300px;
    }

    .sideBar h2{
        padding-bottom: 20px;
        border-bottom: 2px solid var(--white);
    }


    .sideBar li{
        padding: 5px 8px;
        border-bottom: 1px solid transparent;
    }
}




@media(max-width:576px){
    .sideBar{
        width: 230px;
    }


    .sideBar li{
        padding:0;
        padding-bottom: 6px;
    }
}