:root{
    --smoke : rgb(244,242,238);
    --white: white;
    --green: rgb(106,153,78);
    --light-orange: rgb(251,244,242);
    --dark-blue: rgb(34, 56, 67);
    --blue: #5eade8;
    --orange_: rgb(224,122,95);
    --gray_: rgb(124,124,124);
    --black: rgb(54,54,54);
    --pink: rgb(220,38,110);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* background colors */

.bg-orange{
    background-color: var(--orange_);
}
.bg-light-orange{
    background-color: var(--light-orange);
}

.bg-smoke{
    background-color: var(--smoke);
}

.bg-white{
    background-color: var(--white);
}




/* text colors */

.text-gray{
    color: var(--gray_);
}

.text-orange{
    color: var(--orange_);
}
.text-light-orange{
    color: var(--light-orange);
}

.text-smoke{
    color: var(--smoke);
}

.text-white{
    color: var(--white);
}

.text-gray{
    color: var(--gray_);
}

.text-green{
    color: var(--green);
}


.gray-small{
    color: #a5a4a4;
    font-size: clamp(11px ,.1vw ,12px);
}


/* font weight */


.boldest{
    font-weight: 700;
}


/* font size */

.text-4xl{
    font-size: 50px;
}


/* buttons */

.smoke-btn{
    background-color: var(--smoke);
    border-color: #ccc;
    color: var(--black);
    font-size: clamp(14px ,1vw ,16px);
}


.red-btn{
    background-color: rgba(220,38,110,.2);
    color: var(--pink);
    border-color: var(--pink);
    font-size: clamp(14px ,1vw ,16px);
    white-space: normal;
    word-break: break-word;
}



/* fonts */

.secondary-text{
    font-size: clamp(14px ,1.1vw ,19px);
    color: var(--black);
    letter-spacing: .7px;
    margin-bottom: 20px;
}



.to-home{
    position: absolute;
    inset: 20px;
    color: var(--orange_);
}

.dark{
    background-color: var(--dark-blue);
}


.main-bg{
    background-color: var(--smoke);
    min-height: 100vh;
}

.navbar-cont-fl{
    position: relative;
    background-color: white;
    border-bottom: 1px solid #ccc;

}


.navbar-cont i{
    font-size: clamp(17px ,2vw ,28px);
    cursor: pointer;
    color: var(--black);
}

.navbar-cont h2{
    font-size: clamp(17px ,2vw ,29px);
    pointer-events: none;
    color: var(--light-blue);
}

.sideBar{
    position: absolute;
    width: 350px;
    height: 100vh;
    background-color: white;
    top: 0;
    left: -650px;
    transition: .6s ease;
    z-index: 100;
    border-right: 1px solid #ccc;
}

.sideBarOpen{
    position: fixed;
    left: 0;
}

.sideBar .fa-close{
    font-size: clamp(17px ,2vw ,24px);
    cursor: pointer;
}

.sideBar h2, .sideBar h2 i{
    font-size: clamp(19px ,2.5vw ,31px);
    color: var(--gray_);
}

.sideBar h2{
    padding-bottom: 20px;
    border-bottom: 2px solid var(--white);
}

#auth-block,
a[href^="/profile"]{
    display: none;
}


li{
    list-style: none;
}

a,
.sideBar a
{
    text-decoration: none;
}


.sideBar ul{
    padding-left: 20px;
}
.navbar-cont-fl a{
    text-decoration: none;
}
.sideBar li, 
.sideBar a{
    width: 100%;
    border-radius: 9px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: clamp(14px ,1.4vw ,16px);
}

.sideBar .active{
    color: var(--dark-blue);
}

.sideBar li i{
    font-size: clamp(14px ,1.4vw ,19px);
}

.sideBar li{
    padding: 10px;
    transition: .4s ease;    
    border-bottom: 2px solid transparent;
}


.sideBar li:hover,
.sideBar li:hover a,
.sideBar li:hover .sideBar ul i{
    background-color: var(--smoke);
    color: var(--orange_);

   
}

label{
    font-size: 14px;
    color: var(--gray_);
    margin-bottom: 5px;
    font-weight: 500;
}

form input{
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding:10px 14px;
    font-size: 14px;
    font-weight: 400;
}

input:focus{
    outline-color: var(--orange_);
    border-color: var(--orange_);
}

input::placeholder{
    color:var(--gray_);
    font-size: 14px;
}



.pass_input_div{
    position: relative;
}


/* .red_btn{
    background-color: var(--orange);
} */

.pass_input_div i{
    position: absolute;
    right: 15px;
    color: var(--gray_);
    top: 30%;
    cursor: pointer;
}

.pass_input_div input[type="password"]::-ms-reveal{
    display: none;
}


.white-box{
    padding: 25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: var(--black);
}


@media(max-width:768px){
    .sideBar{
        
        width:280px;
    }

    .sideBar h2{
        padding-bottom: 20px;
        border-bottom: 2px solid var(--white);
    }


    .sideBar li{
        padding: 5px 8px;
        border-bottom: 1px solid transparent;
    }
}




@media(max-width:576px){
    .sideBar{
        width: 230px;
    }


    .sideBar li{
        padding:0;
        padding-bottom: 6px;
    }
}