:root{
    --smoke : rgb(244,242,238);
    --white: white;
    --green: rgb(106,153,78);
    --light-orange: rgb(251,244,242);
    --orange_: rgb(224,122,95);
    --gray_: rgb(124,124,124);
    --black: rgb(54,54,54);
    --pink: rgb(220,38,110);
    --brown: rgb(146,64,14);
    --baby-yellow: rgb(254,243,199);
}


.team_box{
    border: 2px solid var(--orange);
    border-radius: 20px;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.team_cont h2{
    font-size: clamp(18px , 1.8vw ,32px);
    color: var(--orange);
}

.team_cont label{
    cursor: pointer;
    color: var(--blue);
}

.team_cont span{
    color: var(--blue);
}
.team_cont h4{
    font-size: clamp(16px , 1.3vw ,26px);
    color: var(--light-blue);
}



.user_search_res{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 5px;
}

.user_search_res .fa-user, .team_box .fa-user{
    width: 40px;
    height: 40px;
    font-size: clamp(15px ,1.3vw ,21px);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange_);
}
.team_box .fa-user{
    width: 30px;
    height: 30px;
    font-size: 15px;
}



.team_cont h3{
    font-size: clamp(16px ,1.5vw ,24px);
    color: var(--orange);
}


.team_cont h4{
    font-size: clamp(15px ,1.4vw ,18px);
}

.team_box h4{
    font-size: clamp(14px ,1.4vw ,17px);
}


.team_box .fa-trash{
    font-size: clamp(15px ,1.3vw ,21px);
    color: var(--dark-blue);
    cursor: pointer;
}



@media(max-width: 768px){
    .team_box{
        width: 100%;
    }
}